{% extends "base.html" %}

{% block content %}
<div class="container">
        <h1 class="display-3">Приветствую</h1>
        <p class="lead">Добро пожаловать на главную страницу. Войдите или зарегестрируйтесь, чтобы вам открылось больше таблиц.
            Выбрать таблицу можно в меню сверху. 
        </p>
        {% if current_user.is_authenticated %}
        <p class="lead"> {{ current_user.name }} Привет</p>
        {% else %}
        <a class="btn btn-lg btn-primary" href="{{ url_for('register') }}"
            role="button">Регистрация &raquo;</a>
        {% endif %}
</div>
{% endblock %}